@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .input-class {
      @apply outline outline-2 outline-text outline-offset-2 p-[0.5rem] text-[1rem] rounded-md bg-text bg-opacity-10;
    }

    .btn-primary {
        @apply outline outline-2 outline-text outline-offset-2 p-[0.5rem] rounded-md bg-accent text-primary text-center font-bold;
    }
}

.error{
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%, 100% {
    transform: translate(-50%, -50%);
}
15%, 65% {
    transform: translate(-45%, -50%);
}
50% {
    transform: translate(-50%, -50%);
}
}

.custom-loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#c70039 94%,#0000) top/4px 4px no-repeat,
    conic-gradient(#0000 30%,#c70039);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
  animation:s3 1s infinite linear;
}

@keyframes s3{ 
  100%{transform: rotate(1turn)}
}